// base colors set 1
$light: #f7f2d6;
$dark: #383731;
$medium: #787668;

// $primary-color: #F9E98E;
$primary-color: #E9DB9C;
$secondary-color: #F9E27D;
$tertiary-color: #F1E6B2;

//base fonts
$primary-font: 'Jaldi', sans-serif;
$serif-font: 'Arvo', serif;
$sans-serif-font: 'IM Fell English', sans-serif;
$cursive-font: 'Courgette', cursive;

//gutters
$vert-lg: 10%;
$vert-sm: 5%;

$horz-lg: 4vw;
$horz-sm: 2vw;
